In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "/Users/jordanheise/Desktop/Matplotlib-challenge/Data/Mouse_metadata.csv"
study_results_path = "/Users/jordanheise/Desktop/Matplotlib-challenge/Data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset

study_data = pd.merge(mouse_metadata, study_results, on='Mouse ID')

# Display the data table for preview

study_data_noDupes = study_data.drop_duplicates(subset=['Mouse ID', 'Timepoint'], keep='last')

study_data_noDupes.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [2]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen



drug_regimen_stats = study_data_noDupes.groupby('Drug Regimen').agg(\
                                                                   
                Mean = ('Tumor Volume (mm3)', np.mean))

drug_regimen_stats



#study_data_noDupes[["Tumor Volume (mm3)"]].describe()

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

                   Mean
Drug Regimen
Capomulin     40.675741
Ceftamin      52.591172
Infubinol     52.884795
Ketapril      55.235638
Naftisol      54.331565
Placebo       54.033581
Propriva      52.382993
Ramicane      40.216745
Stelasyn      54.233149
Zoniferol     53.236507